<table *ngIf="movieLists.length" class='table table-striped'>
    <thead>
      <tr>
        <th>MovieList</th>
        <th>Description</th>
        <th>Watched</th>
        <th>Unwatched</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ml of movieLists">
        <td routerLink="/movielist/{{ml.MovieListId}}">{{ml.MovieListName}}</td>
        <td>Description of List</td>
        <td>11</td>
        <td>2</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ml.MovieListId)"></i>
        </td>
      </tr>
    </tbody>
  </table>



<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-blue">
            <i class="fas fa-list-ul"></i>
        </div>
      </div>
      <input name="MovieListName" #MovieListName="ngModel" [(ngModel)]="service.formData.MovieListName" type="text" class="form-control" placeholder="New List">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit">Add List</button>
  </div>
</form>

