
<div class="mx-auto mt-2" style="width: 80%">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-blue">
                <i class="fas fa-list-ul"></i>
            </div>
          </div>
          <input name="MovieListName" #MovieListName="ngModel" [(ngModel)]="service.formData.MovieListName" type="text" class="form-control" placeholder="New List" autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit">Add List</button>
      </div>
  </form>
</div>

<div class="row align-items-center">
    <div class="col">
        
        <blockquote class="blockquote text-center mt-5">
            <p class="mb-0">There's a passage that I got memorized, seems appropiate for this situation: Ezekiel 25,17. "The path of the righteous man is beset of all sides by the iniquities of the selfish and the tyranny of evil me. Blessed is he who, in the name of the charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who attempt to poison and destroy my brothers. And you will know my name is the Lord when I lay my vengeance upon thee.
              </p>
            <footer class="blockquote-footer text-right mt-5"><cite title="Source Title">Jules Winnfield - Pulp Fiction</cite></footer>
          </blockquote>
    </div>
    <div class="col" style="border-left: 1px solid black">
        <table *ngIf="movieLists.length" class='table table-striped table-dark mt-5'>
            <thead>
              <tr>
                <th>#</th>
                <th>Movie List Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ml of movieLists; index as i;">
                <td>{{i + 1}}</td>
                <td routerLink="/movielist/{{ml.MovieListId}}">{{ml.MovieListName | uppercase }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ml.MovieListId)"></i>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>







