<div class="card " style="width: 100%">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="{{ml.Movie.MovieImage}}" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title">{{ml.Movie.MovieName}}</h5>
                </div>
                <div class="col-2" style="text-align: right;">
                  <i  class="far fa-trash-alt fa-lg text-danger" (click)="deleteMovie(ml.Movie)"></i>
                </div>
              </div>
          
          <p class="card-text">{{ml.Movie.MovieDescription }}</p>
          <div class="row">
              <div class="col-8" *ngIf="ml.Movie.MovieTrailerLink">
                <a href="{{ml.Movie.MovieTrailerLink}}" class="btn btn-primary" target="_blank">Trailer</a>
              </div>
              <div class="col-4">
                
              </div>
            </div>
        </div>
      </div>
    </div>
</div>