<div id="search-component">
    <div class="row align-items-center">
        <div class="col">
          <h4>Movie Search</h4>   
          <div>
            <input #searchBox id="search-box" [(ngModel)]="searchBoxValue" (input)="search(searchBoxValue)"  autocomplete="off"/>
            <ul class="search-result">
              <li *ngFor="let movie of movies$ | async" >
                <a (click)="addMovieToDatabase(movie)">
                  {{movie["title"]}}
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>

