<!-- <table *ngIf="service.movieListSelected">
<tr >
    <td>
      {{service.movieListSelected.MovieListName}}
    </td>
    <td *ngIf="service.movieListSelected.MovieListEntries">
    {{service.movieListSelected.MovieListEntries[0].MovieId}}
  </td>
  </tr>
</table> -->



<table class='table table-striped' *ngIf="selectedMovieList">
    <thead>
      <tr>
        <th>{{selectedMovieList.MovieListName}}</th>
       
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ml of selectedMovieList.MovieListEntries">
        <td>{{ml.MovieId}}</td>
        <td>Description</td>
        <td>YEAR</td>
        <td>BLAH</td>
      </tr>
    </tbody>
  </table>