
<div *ngIf="selectedMovieList">
    <div class="jumbtron">
        <h1 class="display-4 text-center">
            {{selectedMovieList.MovieListName | uppercase}}
        </h1>
    </div>
    <hr />
    <app-movie-search (addNewMovie)="addNewMovie()"></app-movie-search>     
    <hr />
  <table class='table table-striped' >
      <thead>
        <!-- <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Trailer</th>
          <th></th>
        </tr> -->
      </thead>
      <tbody>
        <tr *ngFor="let ml of selectedMovieList.MovieListEntries">
          <td>
            <app-movie [ml]="ml" (onDelete)="onDelete($event)"></app-movie>
          </td>
        </tr>
      </tbody>
  </table>
</div>
